*.a
*.o
*_helper
*_helpers
*_inttest
*_test
*-tester
*-tester.1

.deps
.dirstamp
Doxyfile
Makefile
Makefile.in
aclocal.m4
api-docs
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
defs.h
kyua-testers.pc
stamp-h1
